.article__container{
margin-bottom: 30px;
border-radius: 12px;
background-color: gray;

}

.article__title{
margin-bottom: 30px;
color: red;
}

.article__author{
margin-bottom: 30px;
color: lime;
}

.article__content{
margin-bottom: 30px;
}

.article__link{
margin-bottom: 30px;
}
